<% title "Admin/Subcategories" %>

<table>
  <tr>
    <th>Category</th>
    <th>Title</th>
  </tr>
  <% for subcategory in @subcategories %>
    <tr>
      <td><%= subcategory.category_id %></td>
      <td><%= subcategory.title %></td>
      <td><%= link_to "Show", [:admin, subcategory] %></td>
      <td><%= link_to "Edit", edit_admin_subcategory_path(subcategory) %></td>
      <td><%= link_to "Destroy", [:admin, subcategory], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Subcategory", new_admin_subcategory_path %></p>
