<% title "Subcategoria" %>

<p>
  <strong>Categoria:</strong>
  <%= @subcategory.category_id %>
</p>
<p>
  <strong>Título:</strong>
  <%= @subcategory.title %>
</p>
<p>
  <strong>Descrição:</strong>
  <%= @subcategory.description %>
</p>

<p>
  <%= link_to "Editar", edit_admin_category_subcategory_path(@category,@subcategory), :class => "secondary small button" %> |
  <%= link_to "Deletar", admin_category_subcategory_path(@category,@subcategory), :class => "secondary small button", :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Ver Todas", admin_category_subcategories_path(@category), :class => "secondary small button" %>
</p>
