<% title "Banners" %>

<table class="twelve columns">
  <tr>
    <th>Título</th>
    <th>Link</th>
    <th>Seção</th>
    <th>Publicada</th>
    <th>Ativa</th>
  </tr>
  <% for banner in @banners %>
    <tr>
      <td><%= banner.title %></td>
      <td><%= banner.link %></td>
      <td><%= banner.section.title %></td>
      <td><%= banner.published %></td>
      <td><%= banner.active %></td>
      <td><%= link_to "Visualizar", admin_section_banner_path(@section,banner), :class => "secondary small button" %></td>
      <td><%= link_to "Editar", edit_admin_section_banner_path(@section,banner), :class => "secondary small button" %></td>
      <td><%= link_to "Deletar", admin_section_banner_path(@section,banner), :confirm => 'Are you sure?', :method => :delete, :class => "secondary small button" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "+ Banner", new_admin_section_banner_path(@section), :class => "button" %></p>
<p><%= link_to "Ver Seções", admin_sections_path, :class => "button" %></p>
