<% title "Admin/Banner" %>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>
<p>
  <strong>Imagem:</strong>
  <%= image_tag(@banner.image.url(:thumb)) %>
</p>
<p>
  <strong>Link:</strong>
  <%= @banner.link %>
</p>
<p>
  <strong>Section:</strong>
  <%= @banner.section.title %>
</p>
<p>
  <strong>Published:</strong>
  <%= @banner.published %>
</p>
<p>
  <strong>Active:</strong>
  <%= @banner.active %>
</p>

<p>
  <%= link_to "Editar", edit_admin_section_banner_path(@section,@banner), :class => "button" %> |
  <%= link_to "Deletar", admin_section_banner_path(@section,@banner), :class => "button", :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Ver Todos", admin_section_banners_path(@section), :class => "button" %>
</p>
