<%= form_for [:admin, @section] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :placeholder => "Título", :class => "twelve columns" %>
  </p>
  <p><%= f.submit "Salvar", :class => "button" %></p>
<% end %>
