<%content_for :head do%>
  <script>
  jQuery(document).ready(function(){ 
     $('#slide-home')
       .before('<div id="nav">')
       .cycle({
        fx:     'scrollRight', 
        speed:  'fast', 
        timeout: 0, 
        pager:  '#nav'
    });
  });

</script>
<%end%>

			<div id='slide-home'>
        <% if @highlights.count > 0 %>
        
        <% @highlights.each do |featured| %>
        
        <% 
        @destaques = Banner.all(:conditions => ['position=1 and section_id=?',featured])
        @destaques.each do |banner| 
        %>


        <%= link_to image_tag(banner.image.url("rotative")),banner.link,:target => banner.target%>
        
        <% end %>
        
        <% end %>
        <% end %>
			</div>
			<div id='article-content'>
				<div id='article-left'>
					<div id='article-left-title'>
						<h1>Lorem Ipsum dolor site amet</h1>
					</div>
          
          <%@news.each do |n|%>
					<div id='article-left-box'>
						<div id='article-left-box-img'>
							<%= image_tag(n.image.url(:home), :alt=>n.title, :title=>n.title) %>
						</div>
						<div id='article-left-box-info'>
							<h2><%=n.title%></h2>
							<p><%=n.summary%></p>
							<%= link_to image_tag('btn_mais.png', :height=>'8', :width=>'56', :alt=>n.title, :title=>n.title), news_path(n.id) %>
						</div>
					</div>
          <%end%>
          
          
					
					
				</div>
				<div id='article-right'>
					<div id='article-right-title'>
						<h1>Parceiro</h1>
					</div>
          <% @highlights.each do |p| %>
          
          <% 
          @destaques = Banner.all(:conditions => ['position=2 and section_id=?',p])
          @destaques.each do |parceiros|
          %>
          
					<div id='article-right-box'>
						<%= link_to image_tag(parceiros.image.url("partner")),parceiros.link, :target => parceiros.target, :alt=>parceiros.title, :title=>parceiros.title %>
					</div>
          <% end %>
          <% end %>
				</div>
				<div class='clear'></div>
			</div>
			
