<%content_for :head do%>
  <%= stylesheet_link_tag "home"%>
<% end %>

<div class="row">
    <div class="small-12 large-12 columns highlights">
        <div class="highlights_box">
            <div class="high_text_1">Compromisso e Qualidade</div>
            <div class="high_text_2">
                Artefatos de concreto, pré-fabricados e pavimentação.
            </div>
        </div>
    </div>
</div>    
<div class="row">
	<div class="small-12 columns content_mobile">
      <div class="info_box">
            <div class="rounded_box">
            	<div class="img_rbx"><%=image_tag("img_tel.png")%></div><div class="text_rbx">11 4416 7007</div>
            </div>
            <div class="rounded_box">
            	<div class="img_rbx"><%=image_tag("img_world.png")%></div>
                <div class="text_rbx_2">
                    R. Antonio da Cunha Leite, 2455<br />
                    Bairro Portão - Atibaia - SP <br />
                    CEP 12.948-110 
                </div>
            </div>
            <div class="rounded_box">
            	<div class="img_rbx"><%=image_tag("img_letter.png")%></div>
                <div class="text_rbx_2">
                    sac@jesusdemari.com.br<br />
                    atendimento@jesusdemari.com.br 
                </div>               
            </div>                        
        </div>    
    </div>
</div>
<div class="row">
	<div class="large-12 columns bg_desk_detail_line"></div>
</div>
<div class="row">
	<div class="large-12 columns content_desk">
        <div class="large-4 columns box_content_desk">
        	<div class="img_cont_desk">
            	<%=image_tag("img_artefatos.png")%>
            </div>
       	  <div class="txt_cont_desk">
				A <span class="txt_cont_desk_bold">JDM Artefatos de Concreto</span> é uma empresa atuante na área de artefatos de concreto com foco em estruturas de concreto para saneamento básico, com foco em ETE (estações de tratamento de esgoto), Lajes de Concreto,  Anéis de Concreto, Caixas de Concreto e Mourões de Concreto.            
            </div>
        </div>
        <div class="large-4 columns box_content_desk">
        	<div class="img_cont_desk">
            	<%=image_tag("img_prefabricados.png")%>
            </div>        
        	<div class="txt_cont_desk">
            	A <span class="txt_cont_desk_bold">JDM Pré Fabricados</span> é uma empresa em artefatos de concreto especializada no fornecimento de peças e projetos para grandes estruturas de concreto pré-fabricadas fornecemos Tubos de Concreto, e Aduelas Quadradas de Concreto alem da montagem de Galpões Pré-Fabricados e Projetos Especiais.
            </div>
        </div>
        <div class="large-4 columns box_content_desk">
        	<div class="img_cont_desk">
            	<%=image_tag("img_pavimentacao.png")%>
            </div>           
        	<div class="txt_cont_desk">
            	A <span class="txt_cont_desk_bold">JDM Pavimentação</span> é uma empresa atuante na área de pavimentação em concreto, fornecemos Pisos de Concreto, Guias de Concreto, Bate Rodas de Concreto, Canaletas de Concreto e Prismas de Concreto.
            </div>
        </div>         
    </div>
</div>
