<%= form_for ([:admin, @category], :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :placeholder => "Título", :class => "twelve columns" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :placeholder => "Descrição", :class => "twelve columns" %>
  </p>
  <p>
    <%= f.label :logo, "Imagem" %>
    <%= f.file_field :logo %>
  </p>
  <%if @category.logo.file?%>

  <p> 

  <%= image_tag(@category.logo.url(:thumb)) %>

  </p>
  <% end %>
  <p><%= f.submit "Salvar", :class => "button" %></p>
<% end %>
