<% title "Categorias" %>

<table>
  <tr>
      <h1>Categorias</h1>
  </tr>
  <tr>
    <th>Título</th>
    <th>Descrição</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%= category.title %></td>
      <td><%= category.description %></td>
      <td><%= link_to "Visualizar", [:admin, category], :class => "secondary small button" %></td>
      <td><%= link_to "Editar", edit_admin_category_path(category), :class => "secondary small button" %></td>
      <td><%= link_to "Subcategoria", admin_category_subcategories_path(category), :class => "secondary small button" %></td>
      <td><%= link_to "Deletar", [:admin, category], :class => "secondary small button", :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "+ Categoria", new_admin_category_path, :class => "button" %></p>
