<% title "Categorias" %>

<p>
  <strong>Título:</strong>
  <%= @category.title %>
</p>
<p>
  <strong>Imagem:</strong><br/>
  <%= image_tag(@category.logo.url(:thumb)) %>
</p>
<p>
  <strong>Descrição:</strong>
  <%= @category.description %>
</p>
<p>
  <strong>Classe:</strong>
  <%= @category.css %>
</p>
<p>
  <%= link_to "Editar", edit_admin_category_path(@category), :class => "secondary small button" %> |
  <%= link_to "Deletar", [:admin, @category], :class => "secondary small button", :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Ver Todas", admin_categories_path, :class => "secondary small button" %>
</p>
