<html>
<body>
  <h2>Contato</h2>
  <p>Nome: <%=@contact.name%></p>
  <p>Email: <%=@contact.mail%></p>
  <p>Estado: <%=@contact.state%></p>
  <p>Cidade: <%=@contact.city%></p>
  <p>Mensagem:</p>
  <p><%=@contact.message%></p>
</body>
</html>
