<%content_for :head do%>
<script>
jQuery(document).ready(function(){ 
	 $('#slide-products-index').cycle({
			fx:     'scrollHorz', 
    		speed:  'slow', 
    		timeout: 0, 
    		next:   '#products-index-next', 
    		prev:   '#products-index-prev'
	});
	
	$('#produtos').css('background-position','bottom');

  <%@categories.each do |category|%>
    $('#scrollbar<%=category.id%>').tinyscrollbar();
  <%end%>
  
});

function ShowHide(content, div_id)
{
  if($(content + div_id).hasClass("hide"))
  {
    $(content + div_id).removeClass("hide")
  }
  else
  {
    $(content + div_id).addClass("hide")
  }

}
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=228638123874618";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>
<% end %>

			<div id='article-content'>
				<div id='top-products-index'>
					<h1>Produtos</h1>
				</div>
				
				<div class='clear'></div>
				<div id='products-index-article'>
					<h1>Produtos</h1>
					<p>Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.</p>
					<h1>Produção</h1>
					<p>Nossa empresa emprega as mais avançadas técnicas na produção de artefatos de concreto e Tubos de Concreto do mercado, sempre estando em acordo com as NBRs vigentes, procuramos propiciar a maior variedade de artefatos de concreto,tendo em mente um melhor atendimento de nossos clientes.</p>
				</div>
			</div>
			
			<%@categories.each do |category|%>
			<!-- MAIN -->
			<%$subcategory_first = category.subcategories.first%>
			<%if !$subcategory_first.blank?%>
			  <div id='box-products-index' class="box-products-index-<%=category.css%>">	
  				<!--  -->
				
  				<%= image_tag(category.logo.url, :height=>'138', :width=>'291', :alt=>'Castelatto', :title=>'Castelatto', :class=>'logo') %>
  				<h1><%=category.title%></h1>
  				<p class='text-box-prod'><%=category.description%></p>
  				<div id='btn-products-on' class="btn-products-on-<%=category.css%>" onclick="ShowHide('#content-product-', <%=category.id%>)">
  					<%= link_to image_tag('btn-ver-mais-prod.png', :height=>'25', :width=>'106', :alt=>'Castelatto', :title=>'Castelatto', :id=>'btn-abre-fecha-prod'), 'javascript:void(0)', :id=>'btn-ver-mais-prod' %>
  				</div>
  				<!--  -->
				
  				<!-- /CONTENT PRODUCT -->
				
  				<div id='content-product-<%=category.id%>' class='hide'>
  					<div id='content-product-left'>
  						<h2>Conheça nossa linha</h2>
  						<p>A JDM Artefatos de Concreto conta com uma completa linha de produtos voltados ha solucionar seus problemas.</p>
  						<div id='itens-prod'>
              <% category.subcategories.all.each do |subcategory|%>
  							<%if subcategory.products.all.count > 0 %>							
    							<a href='javascript:void(0)' id='item-prod-1' class='item-prod' onclick="ShowHide('#int-list-prod-', <%=subcategory.id%>)"><%= subcategory.title%></a><br>
    							<div id='int-list-prod-<%=subcategory.id%>' class='hide'>
    								<ul>
                      <% subcategory.products.all.each do |produto|%>
    									<li>
    									  <%=link_to produto.summary, product_path(produto.id), :remote => true%>
    									</li>
                      <% end %>
    								</ul>
    							</div>
  							<%end%>
              <% end %>
  						</div>
  					</div>
					
  					<!-- BOX RIGHT-->

    					<div id='content-product-right'>
    						<h1 id="product-title-<%=category.id%>"><%=$subcategory_first.title %></h1>	
    						<div id="scrollbar<%=category.id%>" class="scrollbar_set">
    							<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    							<div class="viewport">
    								<div class="overview" id="content-<%=category.id%>">
    								  <%=$subcategory_first.description%>
    								</div>
    							</div>
    						</div>
    					</div>
					
  				<!-- /BOX RIGHT-->
  				<div class="clear"></div>
  				</div>
				
  				<!-- /CONTENT PRODUCT -->
  			  <div class="clear"></div>
  			</div>
			<%end%>
			<!-- /MAIN -->
			<div class="clear"></div>
			<%end%>
			
			
			<!-- 
			<div id='box-products-index-2'>
				<%= image_tag('logo_2.jpg', :height=>'138', :width=>'291', :alt=>'Castelatto', :title=>'Castelatto', :class=>'logo') %>
				<h1>A JDM Artefatos de Concreto</h1>
				<p class='text-box-prod'>Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.</p>
				<div id='btn-products-2-on'>
					<%= link_to image_tag('btn-ver-mais-prod.png', :height=>'25', :width=>'106', :alt=>'Castelatto', :title=>'Castelatto', :id=>'btn-abre-fecha-prod'), 'javascript:void(0)', :id=>'btn-ver-mais-prod' %>
				</div>
				<div id='content-product' class='hide'>
					<div id='content-product-left'>
						<h2>Conheça nossa linha</h2>
						<p>A JDM Artefatos de Concreto conta com uma completa linha de produtos voltados ha solucionar seus problemas.</p>
						<div id='itens-prod'>
							<a href='javascript:void(0)' id='item-prod-1' class='item-prod'>Anéis de Concreto</a><br>
							<div id='int-list-prod' class='hide'>
								<ul>
									<li><a href='javascript:void(0)'>Anéis de Concreto Liso</a></li>
									<li><a href='javascript:void(0)'>Perfurados</a></li>
									<li><a href='javascript:void(0)'>Liso SANASA e SABESP</a></li>
								</ul>
							</div>
							<a href='javascript:void(0)' id='item-prod-1' class='item-prod'>Anéis de Concreto</a>
							<div id='int-list-prod' class='hide'>
								<ul>
									<li><a href='javascript:void(0)'>Anéis de Concreto Liso</a></li>
									<li><a href='javascript:void(0)'>Perfurados</a></li>
									<li><a href='javascript:void(0)'>Liso SANASA e SABESP</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div id='content-product-right'>
						<h1>Anéis de Concreto</h1>	
						<div id="scrollbar1">
							<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
							<div class="viewport">
								<div class="overview">
									<h3>Magnis dis parturient montes</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae velit at velit pretium sodales. Maecenas egestas imperdiet mauris, vel elementum turpis iaculis eu. Duis egestas augue quis ante ornare eu tincidunt magna interdum. Vestibulum posuere risus non ipsum sollicitudin quis viverra ante feugiat. Pellentesque non faucibus lorem. Nunc tincidunt diam nec risus ornare quis porttitor enim pretium. Ut adipiscing tempor massa, a ullamcorper massa bibendum at. Suspendisse potenti. In vestibulum enim orci, nec consequat turpis. Suspendisse sit amet tellus a quam volutpat porta. Mauris ornare augue ut diam tincidunt elementum. Vivamus commodo dapibus est, a gravida lorem pharetra eu. Maecenas ultrices cursus tellus sed congue. Cras nec nulla erat.</p>
						
									<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget mauris libero. Nulla sit amet felis in sem posuere laoreet ut quis elit. Aenean mauris massa, pretium non bibendum eget, elementum sed nibh. Nulla ac felis et purus adipiscing rutrum. Pellentesque a bibendum sapien. Vivamus erat quam, gravida sed ultricies ac, scelerisque sed velit. Integer mollis urna sit amet ligula aliquam ac sodales arcu euismod. Fusce fermentum augue in nulla cursus non fermentum lorem semper. Quisque eu auctor lacus. Donec justo justo, mollis vel tempor vitae, consequat eget velit.</p>
						
									<p>Vivamus sed tellus quis orci dignissim scelerisque nec vitae est. Duis et elit ipsum. Aliquam pharetra auctor felis tempus tempor. Vivamus turpis dui, sollicitudin eget rhoncus in, luctus vel felis. Curabitur ultricies dictum justo at luctus. Nullam et quam et massa eleifend sollicitudin. Nulla mauris purus, sagittis id egestas eu, pellentesque et mi. Donec bibendum cursus nisi eget consequat. Nunc sit amet commodo metus. Integer consectetur lacus ac libero adipiscing ut tristique est viverra. Maecenas quam nibh, molestie nec pretium interdum, porta vitae magna. Maecenas at ligula eget neque imperdiet faucibus malesuada sed ipsum. Nulla auctor ligula sed nisl adipiscing vulputate. Curabitur ut ligula sed velit pharetra fringilla. Cras eu luctus est. Aliquam ac urna dui, eu rhoncus nibh. Nam id leo nisi, vel viverra nunc. Duis egestas pellentesque lectus, a placerat dolor egestas in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vitae ipsum non est iaculis suscipit.</p>
						
									<h3>Adipiscing risus </h3>
									<p>Quisque vel felis ligula. Cras viverra sapien auctor ante porta a tincidunt quam pulvinar. Nunc facilisis, enim id volutpat sodales, leo ipsum accumsan diam, eu adipiscing risus nisi eu quam. Ut in tortor vitae elit condimentum posuere vel et erat. Duis at fringilla dolor. Vivamus sem tellus, porttitor non imperdiet et, rutrum id nisl. Nunc semper facilisis porta. Curabitur ornare metus nec sapien molestie in mattis lorem ullamcorper. Ut congue, purus ac suscipit suscipit, magna diam sodales metus, tincidunt imperdiet diam odio non diam. Ut mollis lobortis vulputate. Nam tortor tortor, dictum sit amet porttitor sit amet, faucibus eu sem. Curabitur aliquam nisl sed est semper a fringilla velit porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum in sapien id nulla volutpat sodales ac bibendum magna. Cras sollicitudin, massa at sodales sodales, lacus tortor vestibulum massa, eu consequat dui nulla et ipsum.</p>
						
									<p>Aliquam accumsan aliquam urna, id vulputate ante posuere eu. Nullam pretium convallis tincidunt. Duis vitae odio arcu, ut fringilla enim. Nam ante eros, vestibulum sit amet rhoncus et, vehicula quis tellus. Curabitur sed iaculis odio. Praesent vitae ligula id tortor ornare luctus. Integer placerat urna non ligula sollicitudin vestibulum. Nunc vestibulum auctor massa, at varius nibh scelerisque eget. Aliquam convallis, nunc non laoreet mollis, neque est mattis nisl, nec accumsan velit nunc ut arcu. Donec quis est mauris, eu auctor nulla. Fusce leo diam, tempus a varius sit amet, auctor ac metus. Nam turpis nulla, fermentum in rhoncus et, auctor id sem. Aliquam id libero eu neque elementum lobortis nec et odio.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id='box-products-index-3'>
				<%= image_tag('logo_3.jpg', :height=>'138', :width=>'291', :alt=>'Castelatto', :title=>'Castelatto', :class=>'logo') %>
				<h1>A JDM Artefatos de Concreto</h1>
				<p class='text-box-prod'>Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.</p>
				<div id='btn-products-3-on'>
					<%= link_to image_tag('btn-ver-mais-prod.png', :height=>'25', :width=>'106', :alt=>'Castelatto', :title=>'Castelatto', :id=>'btn-abre-fecha-prod'), 'javascript:void(0)', :id=>'btn-ver-mais-prod' %>
				</div>
				<div id='content-product' class='hide'>
					<div id='content-product-left'>
						<h2>Conheça nossa linha</h2>
						<p>A JDM Artefatos de Concreto conta com uma completa linha de produtos voltados ha solucionar seus problemas.</p>
						<div id='itens-prod'>
							<a href='javascript:void(0)' id='item-prod-1' class='item-prod'>Anéis de Concreto</a><br>
							<div id='int-list-prod' class='hide'>
								<ul>
									<li><a href='javascript:void(0)'>Anéis de Concreto Liso</a></li>
									<li><a href='javascript:void(0)'>Perfurados</a></li>
									<li><a href='javascript:void(0)'>Liso SANASA e SABESP</a></li>
								</ul>
							</div>
							<a href='javascript:void(0)' id='item-prod-1' class='item-prod'>Anéis de Concreto</a>
							<div id='int-list-prod' class='hide'>
								<ul>
									<li><a href='javascript:void(0)'>Anéis de Concreto Liso</a></li>
									<li><a href='javascript:void(0)'>Perfurados</a></li>
									<li><a href='javascript:void(0)'>Liso SANASA e SABESP</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div id='content-product-right'>
						<h1>Anéis de Concreto</h1>	
						<div id="scrollbar1">
							<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
							<div class="viewport">
								<div class="overview">
									<h3>Magnis dis parturient montes</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae velit at velit pretium sodales. Maecenas egestas imperdiet mauris, vel elementum turpis iaculis eu. Duis egestas augue quis ante ornare eu tincidunt magna interdum. Vestibulum posuere risus non ipsum sollicitudin quis viverra ante feugiat. Pellentesque non faucibus lorem. Nunc tincidunt diam nec risus ornare quis porttitor enim pretium. Ut adipiscing tempor massa, a ullamcorper massa bibendum at. Suspendisse potenti. In vestibulum enim orci, nec consequat turpis. Suspendisse sit amet tellus a quam volutpat porta. Mauris ornare augue ut diam tincidunt elementum. Vivamus commodo dapibus est, a gravida lorem pharetra eu. Maecenas ultrices cursus tellus sed congue. Cras nec nulla erat.</p>
						
									<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget mauris libero. Nulla sit amet felis in sem posuere laoreet ut quis elit. Aenean mauris massa, pretium non bibendum eget, elementum sed nibh. Nulla ac felis et purus adipiscing rutrum. Pellentesque a bibendum sapien. Vivamus erat quam, gravida sed ultricies ac, scelerisque sed velit. Integer mollis urna sit amet ligula aliquam ac sodales arcu euismod. Fusce fermentum augue in nulla cursus non fermentum lorem semper. Quisque eu auctor lacus. Donec justo justo, mollis vel tempor vitae, consequat eget velit.</p>
						
									<p>Vivamus sed tellus quis orci dignissim scelerisque nec vitae est. Duis et elit ipsum. Aliquam pharetra auctor felis tempus tempor. Vivamus turpis dui, sollicitudin eget rhoncus in, luctus vel felis. Curabitur ultricies dictum justo at luctus. Nullam et quam et massa eleifend sollicitudin. Nulla mauris purus, sagittis id egestas eu, pellentesque et mi. Donec bibendum cursus nisi eget consequat. Nunc sit amet commodo metus. Integer consectetur lacus ac libero adipiscing ut tristique est viverra. Maecenas quam nibh, molestie nec pretium interdum, porta vitae magna. Maecenas at ligula eget neque imperdiet faucibus malesuada sed ipsum. Nulla auctor ligula sed nisl adipiscing vulputate. Curabitur ut ligula sed velit pharetra fringilla. Cras eu luctus est. Aliquam ac urna dui, eu rhoncus nibh. Nam id leo nisi, vel viverra nunc. Duis egestas pellentesque lectus, a placerat dolor egestas in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vitae ipsum non est iaculis suscipit.</p>
						
									<h3>Adipiscing risus </h3>
									<p>Quisque vel felis ligula. Cras viverra sapien auctor ante porta a tincidunt quam pulvinar. Nunc facilisis, enim id volutpat sodales, leo ipsum accumsan diam, eu adipiscing risus nisi eu quam. Ut in tortor vitae elit condimentum posuere vel et erat. Duis at fringilla dolor. Vivamus sem tellus, porttitor non imperdiet et, rutrum id nisl. Nunc semper facilisis porta. Curabitur ornare metus nec sapien molestie in mattis lorem ullamcorper. Ut congue, purus ac suscipit suscipit, magna diam sodales metus, tincidunt imperdiet diam odio non diam. Ut mollis lobortis vulputate. Nam tortor tortor, dictum sit amet porttitor sit amet, faucibus eu sem. Curabitur aliquam nisl sed est semper a fringilla velit porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum in sapien id nulla volutpat sodales ac bibendum magna. Cras sollicitudin, massa at sodales sodales, lacus tortor vestibulum massa, eu consequat dui nulla et ipsum.</p>
						
									<p>Aliquam accumsan aliquam urna, id vulputate ante posuere eu. Nullam pretium convallis tincidunt. Duis vitae odio arcu, ut fringilla enim. Nam ante eros, vestibulum sit amet rhoncus et, vehicula quis tellus. Curabitur sed iaculis odio. Praesent vitae ligula id tortor ornare luctus. Integer placerat urna non ligula sollicitudin vestibulum. Nunc vestibulum auctor massa, at varius nibh scelerisque eget. Aliquam convallis, nunc non laoreet mollis, neque est mattis nisl, nec accumsan velit nunc ut arcu. Donec quis est mauris, eu auctor nulla. Fusce leo diam, tempus a varius sit amet, auctor ac metus. Nam turpis nulla, fermentum in rhoncus et, auctor id sem. Aliquam id libero eu neque elementum lobortis nec et odio.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id='box-products-index-4'>
				<%= image_tag('logo_1.jpg', :height=>'138', :width=>'291', :alt=>'Castelatto', :title=>'Castelatto', :class=>'logo') %>
				<h1>A JDM Artefatos de Concreto</h1>
				<p class='text-box-prod'>Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.</p>
				<div id='btn-products-4-on'>
					<%= link_to image_tag('btn-ver-mais-prod.png', :height=>'25', :width=>'106', :alt=>'Castelatto', :title=>'Castelatto', :id=>'btn-abre-fecha-prod'), 'javascript:void(0)', :id=>'btn-ver-mais-prod' %>
				</div>
				<div id='content-product' class='hide'>
					<div id='content-product-left'>
						<h2>Conheça nossa linha</h2>
						<p>A JDM Artefatos de Concreto conta com uma completa linha de produtos voltados ha solucionar seus problemas.</p>
						<div id='itens-prod'>
							<a href='javascript:void(0)' id='item-prod-1' class='item-prod'>Anéis de Concreto</a><br>
							<div id='int-list-prod' class='hide'>
								<ul>
									<li><a href='javascript:void(0)'>Anéis de Concreto Liso</a></li>
									<li><a href='javascript:void(0)'>Perfurados</a></li>
									<li><a href='javascript:void(0)'>Liso SANASA e SABESP</a></li>
								</ul>
							</div>
							<a href='javascript:void(0)' id='item-prod-1' class='item-prod'>Anéis de Concreto</a>
							<div id='int-list-prod' class='hide'>
								<ul>
									<li><a href='javascript:void(0)'>Anéis de Concreto Liso</a></li>
									<li><a href='javascript:void(0)'>Perfurados</a></li>
									<li><a href='javascript:void(0)'>Liso SANASA e SABESP</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div id='content-product-right'>
						<h1>Anéis de Concreto</h1>	
						<div id="scrollbar1">
							<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
							<div class="viewport">
								<div class="overview">
									<h3>Magnis dis parturient montes</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae velit at velit pretium sodales. Maecenas egestas imperdiet mauris, vel elementum turpis iaculis eu. Duis egestas augue quis ante ornare eu tincidunt magna interdum. Vestibulum posuere risus non ipsum sollicitudin quis viverra ante feugiat. Pellentesque non faucibus lorem. Nunc tincidunt diam nec risus ornare quis porttitor enim pretium. Ut adipiscing tempor massa, a ullamcorper massa bibendum at. Suspendisse potenti. In vestibulum enim orci, nec consequat turpis. Suspendisse sit amet tellus a quam volutpat porta. Mauris ornare augue ut diam tincidunt elementum. Vivamus commodo dapibus est, a gravida lorem pharetra eu. Maecenas ultrices cursus tellus sed congue. Cras nec nulla erat.</p>
						
									<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget mauris libero. Nulla sit amet felis in sem posuere laoreet ut quis elit. Aenean mauris massa, pretium non bibendum eget, elementum sed nibh. Nulla ac felis et purus adipiscing rutrum. Pellentesque a bibendum sapien. Vivamus erat quam, gravida sed ultricies ac, scelerisque sed velit. Integer mollis urna sit amet ligula aliquam ac sodales arcu euismod. Fusce fermentum augue in nulla cursus non fermentum lorem semper. Quisque eu auctor lacus. Donec justo justo, mollis vel tempor vitae, consequat eget velit.</p>
						
									<p>Vivamus sed tellus quis orci dignissim scelerisque nec vitae est. Duis et elit ipsum. Aliquam pharetra auctor felis tempus tempor. Vivamus turpis dui, sollicitudin eget rhoncus in, luctus vel felis. Curabitur ultricies dictum justo at luctus. Nullam et quam et massa eleifend sollicitudin. Nulla mauris purus, sagittis id egestas eu, pellentesque et mi. Donec bibendum cursus nisi eget consequat. Nunc sit amet commodo metus. Integer consectetur lacus ac libero adipiscing ut tristique est viverra. Maecenas quam nibh, molestie nec pretium interdum, porta vitae magna. Maecenas at ligula eget neque imperdiet faucibus malesuada sed ipsum. Nulla auctor ligula sed nisl adipiscing vulputate. Curabitur ut ligula sed velit pharetra fringilla. Cras eu luctus est. Aliquam ac urna dui, eu rhoncus nibh. Nam id leo nisi, vel viverra nunc. Duis egestas pellentesque lectus, a placerat dolor egestas in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vitae ipsum non est iaculis suscipit.</p>
						
									<h3>Adipiscing risus </h3>
									<p>Quisque vel felis ligula. Cras viverra sapien auctor ante porta a tincidunt quam pulvinar. Nunc facilisis, enim id volutpat sodales, leo ipsum accumsan diam, eu adipiscing risus nisi eu quam. Ut in tortor vitae elit condimentum posuere vel et erat. Duis at fringilla dolor. Vivamus sem tellus, porttitor non imperdiet et, rutrum id nisl. Nunc semper facilisis porta. Curabitur ornare metus nec sapien molestie in mattis lorem ullamcorper. Ut congue, purus ac suscipit suscipit, magna diam sodales metus, tincidunt imperdiet diam odio non diam. Ut mollis lobortis vulputate. Nam tortor tortor, dictum sit amet porttitor sit amet, faucibus eu sem. Curabitur aliquam nisl sed est semper a fringilla velit porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum in sapien id nulla volutpat sodales ac bibendum magna. Cras sollicitudin, massa at sodales sodales, lacus tortor vestibulum massa, eu consequat dui nulla et ipsum.</p>
						
									<p>Aliquam accumsan aliquam urna, id vulputate ante posuere eu. Nullam pretium convallis tincidunt. Duis vitae odio arcu, ut fringilla enim. Nam ante eros, vestibulum sit amet rhoncus et, vehicula quis tellus. Curabitur sed iaculis odio. Praesent vitae ligula id tortor ornare luctus. Integer placerat urna non ligula sollicitudin vestibulum. Nunc vestibulum auctor massa, at varius nibh scelerisque eget. Aliquam convallis, nunc non laoreet mollis, neque est mattis nisl, nec accumsan velit nunc ut arcu. Donec quis est mauris, eu auctor nulla. Fusce leo diam, tempus a varius sit amet, auctor ac metus. Nam turpis nulla, fermentum in rhoncus et, auctor id sem. Aliquam id libero eu neque elementum lobortis nec et odio.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		-->
