<% title "Notícias" %>
<h1>Notícias</h1>

<p><%= link_to "+ Notícia", new_admin_notice_path, :class => "button" %></p>
  
<% for notice in @notices %>
<table class="twelve columns">
    <tr>
      <td>Título</td>
      <td><%= notice.title %></td>
    </tr>
    <tr>
      <td>Resumo</td>
      <td><%= notice.summary %></td>
    </tr>
    <tr>
      <td>Conteúdo</td>
      <td><%= notice.body %></td>
    </tr>
    <tr>
      <td>Publicada</td>
      <td><%= notice.published %></td>
    </tr>
    <tr>
      <td>Ativa</td>
      <td><%= notice.active %></td>
    </tr>
    <tr>
      <td>
      <%= link_to "Visualizar", [:admin, notice], :class => "secondary small button" %>
      <%= link_to "Editar", edit_admin_notice_path(notice), :class => "secondary small button" %>
      <%= link_to "Deletar", [:admin, notice], :confirm => 'Are you sure?', :method => :delete, :class => "secondary small button" %>
      </td>
    </tr>
</table>
<% end %>

<p><%= link_to "+ Notícia", new_admin_notice_path, :class => "button" %></p>
