<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Jesus de Mari</title>

  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "foundation"%>
  <%= stylesheet_link_tag "template"%>
  <%= stylesheet_link_tag "menu_mobile"%>
  <%=javascript_include_tag :defaults %>
  <%= javascript_include_tag "custom.modernizr.js"%>
  
<%=yield :head%>
</head>
<body>
<%=render :file => "layouts/_public_menu.html.erb"%>
<%=yield%>
<%=render :file => "layouts/_public_footer.html.erb"%>
<script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/javascripts/zepto' : '/javascripts/jquery') +
  '.js><\/script>')
  </script>
  <%=javascript_include_tag "foundation.min.js"%>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  <script>
    $(document).foundation();
  </script>

<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 768 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
		
		  $(".toggler").click(function(){
			$(this).next().slideToggle("slide");
			return false;
		  }).next().hide();		
</script>
<script type="text/javascript">
</script>
</body>
</html>
